<div class="contain-fluid mt-5 p-4">
    <div class="row mt-auto">
        <div class="col-lg-auto" style="padding: 1.5rem;" *ngFor="let s of searchResult">
            <div class="row">
                <div class="card" [routerLink]="['/movie',s.id]">
                    <img class="card-img-top"
                    src="https://image.tmdb.org/t/p/original/{{ s.poster_path }}"
                    >
                    <div class="card-body">
                      <h5 class="card-title">{{s.original_title}}</h5>
                      <p class="card-text">{{s.release_date.slice(0,4)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
